<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="breakfast-combo">
        <h3>Daily Breakfast Specials</h3>
        <ul>
          {{#each breakfastSpecials as |item|}}
          <li><b>{{item.name}}</b><br>
            {{item.description}} ${{item.price}}</li>
            {{/each}}
          </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="combo">
        <h3>Classic Combos</h3>
        <h5>No substitutions please.</h5>
        <ul>
          {{#each classics as |item|}}
          <li><b>{{item.name}}</b><br>
            {{item.description}} ${{item.price}}</li>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="breakfast-combo">
        <h3>Candlelight Breakfast</h3>
        <h5>served with homefries or hashbrowns and choice of toast</h5>
        <ul>
        {{#each breakfasts as |item|}}
        <li><b>{{item.name}}</b><br>
          {{item.description}} ${{item.price}}</li>
        {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="omelettes">
        <h3>Omelettes</h3>
        <h5>3 egg omelets, served with homefries or hashbrowns and choice of toast</h5>
        <ul>
        {{#each omelettes as |item|}}
        <li><b>{{item.name}}</b><br>
          {{item.description}} ${{item.price}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="pancakes">
        <h3>Pancakes and Such</h3>
        <ul>
          {{#each pancakes as |item|}}
          <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="biscuits">
        <h3>Biscuits and Side Orders</h3>
        <ul>
          {{#each biscuits as |item|}}
          <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="hot-sandwiches">
        <h3>Hot Sandwiches</h3>
        <h5>Served with french fries. Add soup or salad for $1.50</h5>
        <ul>
          {{#each hotSandwiches as |item|}}
            <li><b>{{item.name}}</b><br>
            {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="cold-sandwiches">
        <h3>Cold Sandwiches</h3>
        <h5>Served with french fries. Add soup or salad for $1.50</h5>
        <ul>
          {{#each coldSandwiches as |item|}}
            <li><b>{{item.name}}</b><br>
              {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="day-burger">
        <h3>Burgers</h3>
        <h5>Served with french fries. Add soup or salad for $1.50</h5>
        <ul>
          {{#each burgers as |item|}}
            <li><b>{{item.name}}</b><br>
              {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="hot-dinner">
        <h3>Hot Dinners</h3>
        <h5>served with fries and garlic toast and with soup or salad</h5>
        <ul>
          {{#each hotDinners as |item|}}
            <li><b>{{item.name}}</b><br>
            {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="lunch-side">
        <h3>Side Orders</h3>
        <ul>
          {{#each sideOrders as |item|}}
          <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
            {{/each}}
          </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="new-attractions">
        <h3>New Added Attractions</h3>
        <ul>
          {{#each newAttractions as |item|}}
          <li><b>{{item.name}}</b><br>
            {{item.description}} ${{item.price}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="day-soup">
        <h3>Soups</h3>
        <ul>
          {{#each soups as |item|}}
          <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
            {{/each}}
          </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="day-salad">
        <h3>Salads</h3>
        <ul>
          {{#each salads as |item|}}
          <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>


  <div class="bevies">
    <h3>Beverages</h3>
    <ul>
    {{#each dayBeverages as |item|}}
    <li><b>{{item.name}}</b> {{item.description}} ${{item.price}}</li>
    {{/each}}
    </ul>
  </div>
</div>
