<h3>Candlelight Breakfast Specials</h3>

<h3>Pancakes and such</h3>
<ul>
{{#each pancakes as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<h3>Classic Combos</h3>
<ul>
{{#each classics as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<h3>Biscuits and Side Orders</h3>
<ul>
{{#each biscuits as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<h3>Candlelight Breakfast</h3>
<ul>
{{#each breakfasts as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<h3>Omelettes</h3>

<h3>Hot Sandwiches</h3>

<h3>Cold Sandwiches</h3>

<h3>Burgers</h3>

<h3>Side Orders</h3>

<h3>Hot Dinners</h3>

<h3>Soups and Salads</h3>

<h3>Beverages</h3>

<h3>New Added Attractions</h3>
