<ul>
{{#each appetizer as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each soup as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each combinationdinner as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each vegetable as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each pork as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each beef as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each seafood as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each poultry as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each eggfoo as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each friedrice as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each noodles as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each americanfood as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>

<ul>
{{#each beverages as |item|}}
  <li>{{item.name}} || {{item.description}} || {{item.price}}</li>
{{/each}}
</ul>
