<div class="night-appetizer">
  <ul>
    {{#each appetizer as |item|}}
    <li>{{item.name}} <br> {{item.description}}<br> ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-soup">
  <ul>
    {{#each soup as |item|}}
    <li>{{item.name}}<br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-combo">
  <ul>
    {{#each combinationdinner as |item|}}
    <li>{{spicy item}} {{item.name}} <br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-vegetable">
  <ul>
    {{#each vegetable as |item|}}
    <li>{{item.name}} <br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-pork">
  <ul>
    {{#each pork as |item|}}
    <li>{{item.name}} <br>{{item.description}},  ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-beef">
  <ul>
    {{#each beef as |item|}}
    <li>{{item.name}} <br>{{item.description}},  ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-seafood">
  <ul>
    {{#each seafood as |item|}}
    <li>{{item.name}} <br>{{item.description}},    ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-poultry">
  <ul>
    {{#each poultry as |item|}}
    <li>{{item.name}} <br>{{item.description}},  ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-eggfoo">
  <ul>
    {{#each eggfoo as |item|}}
    <li>{{item.name}} <br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-friedrice">
  <ul>
    {{#each friedrice as |item|}}
    <li>{{item.name}} <br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-noodle">
  <ul>
    {{#each noodles as |item|}}
    <li>{{item.name}} <br> {{item.description}}, ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-american">
  <ul>
    {{#each americanfood as |item|}}
    <li>{{item.name}} <br> {{item.description}},  ${{item.price}}</li>
    {{/each}}
  </ul>
</div>

<div class="night-beverage">
  <ul>
    {{#each beverages as |item|}}
    <li>{{item.name}} <br> ${{item.price}}</li>
    {{/each}}
  </ul>
</div>
