<div class="container">
  <span class="glyphicon glyphicon-fire warning"></span>= Spicy
  <div class="row">
    <div class="col-md-6">
      <h2>Appetizers</h2>
      <ul>
        {{#each appetizer as |item|}}
        <li>{{spicy item}} {{item.name}} {{item.description}}<br> ${{item.price}}</li>
        {{/each}}
      </ul>
    </div>

  <div class="col-md-6">
    <h2>Soup</h2>
    <ul>
      {{#each soup as |item|}}
      <li>{{spicy item}}{{item.name}}: {{item.description}}<br>${{item.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="combo">
    <h2>Combination Dinners</h2>
    <ul>
      {{#each combinationdinner as |item|}}
      <li>{{spicy item}} {{item.name}}  {{item.description}}<br>${{item.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Vegetable Dishes</h2>
    <ul>
      {{#each vegetable as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Pork</h2>
    <ul>
      {{#each pork as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br>  ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Beef</h2>
    <ul>
      {{#each beef as |item|}}
      <li>{{spicy item}} {{item.name}}   {{item.description}}<br>  ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Seafood</h2>
    <ul>
      {{#each seafood as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Poultry</h2>
    <ul>
      {{#each poultry as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br>  ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Egg Foo Young</h2>
    <ul>
      {{#each eggfoo as |item|}}
      <li>{{spicy item}} {{item.name}}  {{item.description}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h2>Fried Rice</h2>
    <ul>
      {{#each friedrice as |item|}}
      <li>{{spicy item}} {{item.name}}  {{item.description}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Noodles</h2>
    <ul>
      {{#each noodles as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Burgers</h2>
    <ul>
      {{#each nightburgers as |item|}}
      <li>{{item.name}} {{item.description}}<br>  ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Sandwiches</h2>
    <ul>
      {{#each nightsandwiches as |item|}}
      <li>{{spicy item}} {{item.name}} {{item.description}}<br>  ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>


  <div class="col-md-4">
    <h2>Beverages</h2>
    <ul>
      {{#each beverages as |item|}}
      <li>{{spicy item}} {{item.name}}<br> ${{item.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>


</div>
