<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Breakfast Menu</h3>
        <h4>7am - 2:30pm</h4>
        <p class="card-text">Great place to get your day started. Breakfast specials  starting at $5.95. Fresh coffee, tea and juice. Full bar available for Bloody Marys and mimosas.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Chinese Cuisine Menu</h3>
        <h4>4:30pm - 2:30am</h4>
        <p class="card-text">Want some authentic Chinese food? Combos starting at only $6.00. Egg rolls and crab puffs $2.50 each. Amazing selection of spirits, domestic/micro bottled beers, cold draft and pitchers also available.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Happy Hour</h3>
        <h4>11am - 1pm &amp; 4pm - 7pm</h4>
        <p class="card-text">Two happy hours every day.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Happy Hour Hor d'oeuvres</h3>
        <h4>2:30pm - 4:30pm</h4>
        <p class="card-text">Free Happy Hour Hor d'oeuvres (While supplies last).</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Late Night Menu</h3>
        <h4>8pm - 12am (Sunday - Wednesday only)</h4>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Karaoke</h3>
        <h4>9pm - 2pm (Thursday-Saturday only)</h4>
        <p class="card-text">Show us the diva inside you. We have a friendly and supportive crowd that comes out each week to show their love. Join us for a night of dancing and good times.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Sunday</h3>
        <h5>Special: Eggs Benedict</h5>
        <h5>Special: Spinach Omelette</h5>
          <ul class="card-text">
            <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
            <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
            <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
            <li>8:00pm-12:00am ~ Late Night Menu {{fa-icon "cutlery"}}</li>
          </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Monday</h3>
        <h5>Special: Waffle</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>8:00pm-12:00am ~ Late Night Menu {{fa-icon "cutlery"}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Tuesday</h3>
        <h5>Special: Breakfast Burrito</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>8:00pm-12:00am ~ Late Night Menu {{fa-icon "cutlery"}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Wednesday</h3>
        <h5>Special: Chicken Fried Steak</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>8:00pm-12:00am ~ Late Night Menu {{fa-icon "cutlery"}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Thursday</h3>
        <h5>Special: French Toast</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>Karaoke {{fa-icon "music"}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Friday</h3>
        <h5>Special: Bacon &amp; Cheddar Omlette</h5>
        <h5>First Friday Chicken &amp; Dumplings</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>Karaoke {{fa-icon "music"}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card card-block">
        <h3 class="card-title">Saturday</h3>
        <h5>Special: Eggs Benedict</h5>
        <h5>Special: Spinach Omelette</h5>
        <ul class="card-text">
          <li>11:00am-1:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>2:30pm-4:30pm ~ Hor d'oeuvres {{fa-icon "cutlery"}}</li>
          <li>4:00pm-7:00pm ~ Happy Hour {{fa-icon "glass"}}</li>
          <li>Karaoke {{fa-icon "music"}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
